<div class="well well-sm">
  <%= form_for(@user, html: {class: 'form-horizontal'}) do |f| %>
    <%= render partial: 'shared/errors', locals: { object: @user } %>
    <fieldset>
      <legend>Enter User Details</legend>
      <div class="form-group">
        <%= f.label :first_name, "First name*:", class: "col-md-2 control-label" %>
        <div class="col-md-8">
          <%= f.text_field :first_name, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :last_name, "Last name*:", class: "col-md-2 control-label" %>
        <div class="col-md-8">
          <%= f.text_field :last_name, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :email, "Email*:", class: "col-md-2 control-label" %>
        <div 
        class="col-md-8">
          <%= f.email_field :email, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :password, "Password*:", class: "col-md-2 control-label" %>
        <div class="col-md-8">
          <%= f.password_field :password, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, "Confirm Password*:", class: "col-md-2 control-label" %>
        <div class="col-md-8">
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-8 col-md-offset-2">
          <%= f.submit "Submit", class: "btn btn-default btn-primary" %>
        </div>
      </div>
    </fieldset>
  <% end %>
</div>
